<div class="editorComponents"  style="padding-left:10px;padding-right:10px;">
INSERT MODE
	<div class="ui inverted buttons fluid insertMode">
	  <div class="ui insertModeButton button" data-mode="into">Into</div>
	  <div class="ui insertModeButton button" data-mode="before">Before</div>
	  <div class="ui insertModeButton button active" data-mode="after">After</div>
	</div>

<!-- 	<div class="insertDiv">
		<div class="ui ab button">
			DIV <i class="fa fa-info-circle"></i>
		</div>
		<div class="ui grid">
			<div class="four column row">
				<div class="column">a</div>
				<div class="column">b</div>
				<div class="column">c</div>
				<div class="column">d</div>
			</div>
			<div class="row">
				<div class="eight wide column">a</div>
				<div class="four wide column">b</div>
				<div class="two wide column">c</div>
				<div class="two wide column">d</div>
			</div>
		</div>
	</div> -->

	<div class="ui inverted segment">
	  <div class="ui inverted accordion">
	    <div class="title">
	      <i class="dropdown icon"></i>
	      GRID
	    </div>
	    <div class="content">
	      	<div class="ui inverted transparent input">
			  Number of divs: <input type="number" min="1" max="6" id="divsCount" style="width:50px;margin-left:20px;" value=1>
			</div>
			<div class="ui ab sizeSelector grid">
				<div class="sixteen wide column"></div>
			</div>
		    <div class="ui ab columnSetup grid">
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    </div>
		    <button class="ab ui button inverted insert-grid">INSERT</button>
	    </div>
	  </div>
	</div>
	<div class="ui inverted segment">
	  <div class="ui inverted accordion">
	    <div class="title">
	      <i class="dropdown icon"></i>
	      DIV
	    </div>
	    <div class="content">
			<div class="ui ab divSizeSelector grid">
				<div class="sixteen wide column"></div>
			</div>
		    <div class="ui ab divColumnSetup grid">
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    	<div class="one wide column"></div>
		    </div>
		    <button class="ab ui button inverted insert-div">INSERT</button>
	    </div>
	  </div>
	</div>
</div>