<div class="editorSettings">
	<div class="colorSetting settingDiv">
		<div class="colorSelectButton">Color 
			<div class="fa fa-magic magicTooltip" style="float:right;padding-right:10px;"></div>
		</div>
	</div>
	<div class="onlyVisibleOnSelectedDiv">	
		<div class="alignmentSetting settingDiv">
			Text Alignement
			<i class="alignmentButton align left icon" data-align="left"></i>
			<i class="alignmentButton align center icon" data-align="center"></i>
			<i class="alignmentButton align right icon" data-align="right"></i>
		</div>
		<div class="borderSetting settingDiv">
			Border
			<div class="ui inline dropdown borderStyleDropdown" data-border-attr="style" style="padding-left:10px;">
			  <div class="text">
			    None
			  </div>
			  <i class="dropdown icon"></i>
			  <div class="menu">
			    <div class="item">
				  None
			    </div>
			    <div class="item">
			      Solid
			    </div>
			    <div class="item">
			      Dashed
			    </div>
			    <div class="item">
			      Dotted
			    </div>
			    <div class="item">
			      Double
			    </div>
			  </div>
			</div>
			<div class="ui inverted transparent input">
			  Size:<input type="number" style="width:50px;margin-left:5px;" min="0" class="borderWidthSetting" placeholder="size">
			</div>
			<div class="color"></div>
		</div>
		<div class="fontSetting settingDiv">
			Font
			<div class="ui inverted transparent input">
				<i class="fontSize icon">Size</i>
				<i class="fontSizeChange angle up teal icon fontSizeIncrease" data-fontsize="increase"></i>
				<i class="fontSizeChange angle down teal icon fontSizeDecrease" data-fontsize="decrease"></i>
			</div>
		</div>
		<div class="styleSetting settingDiv">
			Text Style
			<i class="styleButton style bold icon" data-style="bold"></i>
			<i class="styleButton style italic icon" data-style="italic"></i>
			<i class="styleButton style underline icon" data-style="underline"></i>
		</div>		
		<div class="paddingSetting settingDiv">
			Padding <span style="font-size:12px;font-weight:600">(Top Left Bottom Right)</span>
			<div class="ui inverted transparent input">
			  <input type="number" style="width:65px;margin-left:5px;" class="setPadding" data-position="top" placeholder="Top">
			  <input type="number" style="width:65px;margin-left:5px;" class="setPadding" data-position="left" placeholder="Left">
			  <input type="number" style="width:65px;margin-left:5px;" class="setPadding" data-position="bottom" placeholder="Bottom">
			  <input type="number" style="width:65px;margin-left:5px;" class="setPadding" data-position="right" placeholder="Right">
			</div>
		</div>
		<div class="marginSetting settingDiv">
			Margin <span style="font-size:12px;font-weight:600">(Top Left Bottom Right)</span>
			<div class="ui inverted transparent input">
			  <input type="number" style="width:65px;margin-left:5px;" class="setMargin" data-position="top" placeholder="Top">
			  <input type="number" style="width:65px;margin-left:5px;" class="setMargin" data-position="left" placeholder="Left">
			  <input type="number" style="width:65px;margin-left:5px;" class="setMargin" data-position="bottom" placeholder="Bottom">
			  <input type="number" style="width:65px;margin-left:5px;" class="setMargin" data-position="right" placeholder="Right">
			</div>
		</div>
	</div>

</div>