{% extends "yolo/partials/layout.html" %}


{% block content %}
<div class="ui ab container">
  <div class="content">
  <button class="ui button" id="editor">EDIT</button>
  </div>
  <div id="showIt">
	{{template.htmlCode | safe}}
  </div>
</div>
{% endblock %}

{% block js_footer %}
<script type="text/javascript">
	// function getCookie(name) {
	//     var cookieValue = null;
	//     if (document.cookie && document.cookie !=='') {
	//         var cookies = document.cookie.split(';');
	//         for (var i = 0; i < cookies.length; i++) {
	//             var cookie = jQuery.trim(cookies[i]);
	//             // Does this cookie string begin with the name we want?
	//             if (cookie.substring(0, name.length + 1) == (name + '=')) {
	//                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	//                 break;
	//             }
	//         }
	//     }
	//     return cookieValue;
	// }
	// $(document).ready(function(){
	// 	var csrftoken = getCookie('csrftoken');
	// 	$('#publisher').on('click',function(){
	// 		var x=$('#addIt').html();
	// 		$.post('/abbe',{csrfmiddlewaretoken:csrftoken,htmlCode:x,description:'Yolo! swagger alert',name:"firstPost",slug:"ahem-ahem"},function(){
	// 			console.log('success');
	// 		})
	// 		.done(function(){
	// 			alert('ab ho gaya save khush raho!');
	// 		})
	// 		.fail(function(err){
	// 			console.log('Error :(');
	// 			console.log(err);
	// 		});
	// 	});
	// });
	$(document).ready(function(){
		$('#editor').on('click',function(){
			$('.column').toggleClass('hume-tumpe-phucker-hai');
		});
	});
</script>
{% endblock %}