<ul class='custom-menu'>

  <!-- <li class="menu-inner-opener" data-innerMenu="insertInto" data-action = "insertInto"> -->
  <li class="menu-inner-opener" data-action = "insertInto">
<!--     <ul class="custom-menu-inner" data-innerMenu="insertInto">
  		<li>APPEND</li>
  		<li>PREPEND</li>
  	</ul> -->
  Insert Into 
  <!-- <i class="icon angle right" style="float:right;"></i> -->
  </li>
  <li data-action = "insertBefore">Insert Before</li>
  <li data-action = "insertAfter">Insert After</li>

  <li data-action = "delete">Delete</li>
</ul>