{% extends "yolo/partials/layout.html" %}

{% block content %}
{% load socialaccount %}
<div class="ui container two column middle aligned very relaxed stackable grid" id="store-signin">
  <div class="column">
    <a href="{% provider_login_url "facebook" %}"><button class="ui labeled facebook icon button social" id="facebook-login">
      <i class="facebook icon"></i>
      Sign in with Facebook
    </button></a>
    <button class="ui labeled google plus icon button social" id="google-login">
      <i class="google plus icon"></i>
      Sign in with Google
    </button>
     <a href="{% provider_login_url "twitter" %}"><button class="ui labeled twitter icon button social" id="twitter-login">
      <i class="twitter icon"></i>
      Sign in with Twitter
    </button></a>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
  <div class="column">
  <form class="ui form" id="login_form" method="post" action="/sign-in">
    {% csrf_token %}
    <div class="field">
      <label for="email">Username</label>
      <div class="ui left ab input">
        <input type="text" name="username">
      </div>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <div class="ui left ab input">
        <input type="password" name="password">
      </div>
    </div>
    <button type="submit" class="ui teal animated button">
      <div class="visible content">Login</div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </button>
    <div class="ui error message"></div>
    {% if errors|length > 0 %}
    <div class="ui negative message">
        <ul class="list">
            {% for error in errors %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
  </form>
  <br>
  <div>New user? <a href="/sign-up">Signup</a></div>
  <div class="ui accordion">
    <div class="active title">
      <i class="help circle icon"></i>
      Forgot your Username or Password?
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block js_footer %}
<script type="text/javascript">
	$(document).ready(function(){

    $('.ui.form')
      .form({
        fields: {
          password: {
            identifier : 'password',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please enter a password'
              },
              {
                type   : 'minLength[6]',
                prompt : 'Your password must be at least 6 characters'
              }
            ]
          }
        }
      });
	});
</script>
{% endblock %}
