/*
	some fixes and design alterations.
 */
.ab.menu{
	padding:0.5em 0.7em !important;
}
.ab.menu,.ab.segment{
	/*border-bottom:1px solid #ccc !important;*/
	box-shadow: none !important;
	border-radius: 0 !important
}
.ab.menu>.item{
	border-radius: 50px !important;
}
.ab.menu>.item.brand {
	font-size: large;
}
.ab.menu>.item.right{
	border-radius:0 !important;
}
.ab.menu >.item:before{
	width:0 !important;
	background:transparent !important;
}
.popper:hover{
	background:#E8E8E8 !important;
}
.ab.menu >.item.active{
	font-weight: bold;
	border-radius: 50px !important;
	background:transparent !important;
}
.ab.container{
	width:100%;
	margin-left:0 !important;
	margin-right:0 !important;
}
.ab.menu .focus,.ab.menu .focus:hover{
	color:#40003F !important;
	font-weight: bold;
}
.ab.sidebar{
	padding-top:80px !important;
	width:75% !important;
}
.ab.large.button{
	font-weight: 300 !important;
}
.ab.button{
	border-radius:1px !important;
}




.ab.dropdown-title{
	position:relative !important;
}
.ab.dropdown-title:hover{
	background:#fff;
	color:#575757 !important;
}
.ab.dropdown-title:hover .dropdown-menu{
	display:block !important;
}
.ab.dropdown-title .ab.dropdown-menu{
	position:absolute !important;
	top:100% !important;
	width:522px;
	font-size:13px;
	background:#151515 !important;
}
.ab.dropdown-title .ab.dropdown-menu.left{
	left:0;
}
.ab.dropdown-title .dropdown-menu{
	display:none;
}
.dropdown-menu .item{
	color:#fff !important;
}
.dropdown-menu .item:hover{
	background:#ACF0F2;
	color:#575757 !important;
}
.dropdown-menu .ui.grid{
	margin:0 !important;
}

.dotted-link-white{
	border-bottom:1px dotted #fff;cursor:pointer;
}

.ab.button{
	border-radius:1px !important;
}
.ab.container{
	margin:0;
	text-align:left;
}

/* */
.ab-align-center{
	text-align:center !important;
}
.ab-align-left{
	text-align:left !important;
}
.ab-align-right{
	text-align:right !important;
}
.ab-style-bold{
	font-weight:bold !important;
}
.ab-style-italic{
	font-style:italic !important;
}
.ab-style-underline{
	text-decoration:underline !important;
}

.ui.modal{
	top:40% !important;
	box-shadow:none !important;
	border-radius:0 !important;
}
@media only screen and (min-width: 1200px){
	.ui.small.modal{
		width:450px;
		margin:0em 0em 0em -225px
	}
	.ui.ab.container{
		width: 100% !important;
	}
}
@media only screen and (min-width: 992px){
	.ui.small.modal{
		width:450px;
		margin:0em 0em 0em -225px
		
	}
}
@media only screen and (min-width: 768px){
	.ui.small.modal{
		width:450px;
		margin:0em 0em 0em -225px
	}
}
@media all and (max-width: 520px){
	.ui.small.modal{
		width:100%;
		min-height:100vh;
	}
	.modals.dimmer .ui.scrolling.modal{
		margin-top:0 !important;	
		margin-bottom:0 !important;	
	}
	.picker__holder{
		max-width: 360px !important;
	}
	#testDriveModalForm{
		padding-left:0px;
		padding-right:0px;
	}
	.variantDisplay{
		margin-left:0px;
		margin-right:0px;
		padding:4px;
		background:rgb(71, 169, 215);
		color:#F8F8F6;
	}
}	

/************
FIXES
************/
.ab[class*="center aligned"].grid .column, .ab.grid > [class*="center aligned"].row > .column, .ab.grid > [class*="center aligned"].column.column, .ab.grid > .row > [class*="center aligned"].column{
	text-align: left !important; 
}

.ab.selection.dropdown{
	border-radius:1.885em !important;
}
.ab.menu .item{
	padding:0.52857143em 1.14285714em;
}
.ab.ui.form input:not([type]), .ab.ui.form input[type=text], .ab.ui.form input[type=email], .ab.ui.form input[type=search], .ab.ui.form input[type=password], .ab.ui.form input[type=date], .ab.ui.form input[type=datetime-local], .ab.ui.form input[type=tel], .ab.ui.form input[type=time], .ab.ui.form input[type=url], .ab.ui.form input[type=number]{
	border-radius:1px !important;	
}
 
