<div class="ui container ab grid edit-area edit-area--div paint-area" style="margin: 0px; background-color: rgb(251, 105, 100);">
   <div class="column six wide edit-area paint-area" style="border-style: none;">
      <div class="sixteen wide column edit-area paint-area">
         <div class="sixteen wide column edit-area paint-area">
            <div class="paint-area paint-area--text edit-area edit-area--text" style="border-style: none; font-size: 28px; line-height: 33.999px; padding-top: 6px; padding-bottom: 0px; color: rgb(255, 196, 56);">ABC PHOTOGRAPHY</div>
         </div>
         <div class="paint-area paint-area--text edit-area edit-area--text ab-style-bold" style="border-style: none; font-size: 13px; line-height: 18.999px; padding-bottom: 42px; color: rgb(255, 196, 56);">This is a mockup page. Edit as required.</div>
      </div>
      <div class="paint-area paint-area--text edit-area edit-area--text selected-area" style="border-style: none; color: rgb(255, 255, 255);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur placerat, nisi a blandit ultricies, purus velit porta leo, vel malesuada leo tellus ac risus. Vestibulum vehicula arcu sit amet quam molestie, sit amet molestie libero interdum. Aliquam a ullamcorper felis. Sed at orci ornare, imperdiet mi sit amet, tempus tellus. In mattis risus aliquam pretium egestas. Duis porta turpis nulla, ac varius turpis convallis sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras condimentum in erat eget posuere. Phasellus tortor nibh, facilisis venenatis convallis in, dapibus lacinia odio. Morbi a facilisis arcu. In lobortis feugiat porta.</div>
   </div>
   <div class="column ten wide edit-area paint-area" style="border-style: none; background-color: rgb(251, 105, 100);">
      <div class="edit-area image-resizable image-div    " style="overflow: hidden; width: 712px; height: 457px; border-style: none;">
         <img class="ui fluid image" src="/static/images/mockup/5.jpg">      
         <div class="-handle -e" style="z-index: 90;"></div>
         <div class="-handle -s" style="z-index: 90;"></div>
         <div class="-handle -e" style="z-index: 90;"></div>
         <div class="-handle -s" style="z-index: 90;"></div>
         <div class="-handle -e" style="z-index: 90;"></div>
         <div class="-handle -s" style="z-index: 90;"></div>
         <div class="-handle -e" style="z-index: 90;"></div>
         <div class="-handle -s" style="z-index: 90;"></div>
      </div>
   </div>
</div>
<div class="ui container ab grid edit-area edit-area--div paint-area" style="margin:0">
   <div class="sixteen wide column edit-area paint-area">
      <div class="paint-area paint-area--text edit-area edit-area--text ab-style-bold ab-align-center ab-style-underline" style="border-style: none; font-size: 18px; line-height: 23.999px;">SHOWCASE</div>
   </div>
</div>
<div class="ui container ab grid edit-area edit-area--div paint-area stackable center aligned" style="margin:0">
   <div class="four wide column edit-area paint-area">
      <div class="edit-area image-resizable image-div " style="overflow: hidden; width: 322px; height: 200px; border-style: none;">
         <img class="ui fluid image" src="/static/images/mockup/2.jpg">      
         <div class="-handle -e" style="z-index: 90;"></div>
         <div class="-handle -s" style="z-index: 90;"></div>
      </div>
      <div class="sixteen wide column edit-area paint-area">
         <div class="paint-area paint-area--text edit-area edit-area--text ab-style-bold ab-style-italic" style="border-style: none; font-size: 15px; line-height: 20.999px;">Caption 1</div>
      </div>
   </div>
   <div class="four wide column edit-area paint-area">
      <div class="edit-area image-resizable image-div " style="overflow: hidden; width: 318px; height: 200px; border-style: none;">
         <img class="ui fluid image" src="/static/images/mockup/3.jpg">      
         <div class="-handle -e" style="z-index: 90;"></div>
         <div class="-handle -s" style="z-index: 90;"></div>
      </div>
      <div class="sixteen wide column edit-area paint-area">
         <div class="paint-area paint-area--text edit-area edit-area--text ab-style-italic ab-style-bold" style="border-style: none; font-size: 15px; line-height: 20.999px;">Caption 2</div>
      </div>
   </div>
   <div class="four wide column edit-area paint-area" style="border-style: none;">
      <div class="edit-area image-resizable image-div " style="overflow: hidden; width: 318px; height: 200px; border-style: none;">
         <img class="ui fluid image" src="/static/images/mockup/4.jpg">      
         <div class="-handle -e" style="z-index: 90;"></div>
         <div class="-handle -s" style="z-index: 90;"></div>
      </div>
      <div class="sixteen wide column edit-area paint-area">
         <div class="paint-area paint-area--text edit-area edit-area--text ab-style-bold ab-style-italic" style="border-style: none; font-size: 15px; line-height: 20.999px;">Caption 3</div>
      </div>
   </div>
   <div class="four wide column edit-area paint-area" style="border-style: none;">
      <div class="edit-area image-resizable image-div " style="overflow: hidden; width: 318px; height: 200px; border-style: none;">
         <img class="ui fluid image" src="/static/images/mockup/1.jpg">    
         <div class="-handle -e" style="z-index: 90;"></div>
         <div class="-handle -s" style="z-index: 90;"></div>
      </div>
      <div class="sixteen wide column edit-area paint-area">
         <div class="paint-area paint-area--text edit-area edit-area--text ab-style-bold ab-style-italic" style="border-style: none; font-size: 15px; line-height: 20.999px;">Caption 4</div>
      </div>
   </div>
</div>
<div class="ui container ab grid edit-area edit-area--div paint-area stackable" style="margin: 0px; border-style: none;">
   <div class="column ten wide edit-area paint-area" style="border-style: none;">
      <div class="column four wide edit-area paint-area">
         <div class="paint-area paint-area--text edit-area edit-area--text ab-style-italic ab-style-bold" style="border-style: none; font-size: 18px; line-height: 23.999px; padding-bottom: 36px; color: rgb(95, 161, 224);">CONTACT </div>
      </div>
      <div class="paint-area paint-area--text edit-area edit-area--text" style="border-style: none; font-size: 15px; line-height: 20.999px; padding-left: 14px;">abc_photographer@gmail.com<br><br>+91-9988442233</div>
   </div>
</div>