<div class="ui container ab grid edit-area edit-area--div paint-area stackable" style="margin: 0px; border-style: none; background-color: rgb(192, 195, 213);">
   <div class="column eight wide edit-area paint-area" style="border-style: none; border-width: 1px; background-color: rgb(192, 195, 213);">
      <div class="paint-area paint-area--text edit-area edit-area--text ab-style-bold" style="border-style: none; padding-left: 15px; font-size: 19px; line-height: 24.999px; color: rgb(240, 240, 240);">Product-X</div>
   </div>
   <div class="column two wide edit-area paint-area ab-align-right" style="border-style: none;">
      <div class="paint-area paint-area--text edit-area edit-area--text" style="border-style: none; font-size: 16px; line-height: 21.999px; color: rgb(240, 240, 240);">Features</div>
   </div>
   <div class="column three wide edit-area paint-area ab-align-right" style="border-style: none;">
      <div class="paint-area paint-area--text edit-area edit-area--text" style="border-style: none; font-size: 16px; line-height: 21.999px; color: rgb(240, 240, 240);">About</div>
   </div>
   <div class="column three wide edit-area paint-area ab-align-right selected-area" style="border-style: none;">
      <div class="paint-area paint-area--text edit-area edit-area--text" style="border-style: none; font-size: 16px; line-height: 21.999px; color: rgb(240, 240, 240);">Contact</div>
   </div>
</div>
<div class="ui container ab grid paint-area edit-area edit-area--div" style="border-style: none;">
   <div class="four wide column paint-area edit-area">
      <div class="paint-area paint-area--text edit-area edit-area--text" style="word-break: break-all; border-style: none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur placerat, nisi a blandit ultricies, purus velit porta leo, vel malesuada leo tellus ac risus. Vestibulum vehicula arcu sit amet quam molestie, sit amet molestie libero interdum. Aliquam a ullamcorper felis. Sed at orci ornare, imperdiet mi sit amet, tempus tellus. In mattis risus aliquam pretium egestas. Duis porta turpis nulla, ac varius turpis convallis sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras condimentum in erat eget posuere. Phasellus tortor nibh, facilisis venenatis convallis in, dapibus lacinia odio. Morbi a facilisis arcu. In lobortis feugiat porta.</div>
   </div>
   <div class="four wide column paint-area edit-area" style="border-style: none;">
      <div class="paint-area paint-area--text edit-area edit-area--text" style="word-break: break-all; border-style: none;">Nam eu nisl ac enim vestibulum iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris convallis lorem enim, eget pharetra velit egestas sit amet. Pellentesque porta erat hendrerit ipsum placerat viverra. Phasellus feugiat urna interdum magna congue laoreet. Nullam sodales faucibus leo sit amet rhoncus. Suspendisse potenti.</div>
   </div>
   <div class="four wide column paint-area edit-area" style="border-style: none;">
      <div class="paint-area paint-area--text edit-area edit-area--text" style="word-break: break-all; border-style: none;">Nam ac augue ut nisi consectetur sagittis et rutrum elit. Donec risus metus, facilisis at pretium eget, maximus sed mi. Curabitur egestas sit amet nisl sed vestibulum. In non ante vel sapien lacinia rhoncus. Quisque nunc justo, imperdiet non accumsan non, mattis id dui. Nullam a cursus tortor. Sed tincidunt aliquet risus eleifend mattis. Sed vulputate mattis scelerisque. Aenean commodo dolor magna, sed tristique dui ullamcorper non. Vivamus bibendum nisl ut efficitur volutpat.</div>
   </div>
   <div class="column four wide edit-area paint-area">
      <div class="paint-area paint-area--text edit-area edit-area--text" style="border-style: none;">Nulla elementum faucibus dui. Curabitur laoreet viverra mauris non porttitor. Nulla euismod porta pellentesque. Quisque fermentum, purus non semper egestas, est purus tempor ipsum, id scelerisque libero velit vitae arcu. Vivamus ornare quis tortor eget feugiat. Nulla scelerisque tristique velit, ut euismod ex. Sed accumsan odio at lectus molestie, gravida elementum sem volutpat. Aliquam sit amet semper ipsum. Etiam viverra finibus ante sed rhoncus. Nulla imperdiet aliquam dolor tincidunt finibus.</div>
   </div>
</div>
<div class="ui container ab grid edit-area edit-area--div paint-area stackable" style="margin:0">
   <div class="column ten wide edit-area paint-area" style="border-style: none;">
      <div class="column four wide edit-area paint-area">
         <div class="paint-area paint-area--text edit-area edit-area--text ab-style-italic ab-style-bold" style="border-style: none; font-size: 18px; line-height: 23.999px; padding-bottom: 36px; color: rgb(95, 161, 224);">OUR PHILOSOPHY</div>
      </div>
      <div class="paint-area paint-area--text edit-area edit-area--text" style="border-style: none;">Quisque ipsum dolor, finibus in blandit et, suscipit non quam. In vitae lorem a mauris lacinia gravida nec quis ligula. Sed sagittis arcu ut congue auctor. In ut ligula nec erat ultricies fermentum. Duis bibendum diam quis massa lobortis, non tincidunt orci aliquam. In convallis consequat pulvinar. Praesent molestie congue malesuada. Mauris vitae volutpat tortor, non euismod massa. Sed lobortis non nibh in suscipit. Morbi sit amet pharetra tortor. Donec dapibus elementum augue, nec dignissim metus hendrerit vel. Duis dolor mi, posuere eu varius ac, dignissim tempus purus.</div>
   </div>
   <div class="column six wide edit-area paint-area">
      <div class="edit-area image-resizable image-div " style="overflow: hidden; width: 447px; height: 288px; border-style: none;">
         <img class="ui fluid image" src="/media/templateImages/stock-photo-143175167_HxJ3O1z.jpg">		
         <div class="-handle -e" style="z-index: 90;"></div>
         <div class="-handle -s" style="z-index: 90;"></div>
      </div>
   </div>
</div>
<div class="ui container ab grid paint-area edit-area edit-area--div" style="border-style: none;">
   <div class="sixteen wide column paint-area edit-area" style="border-style: none;">
      <div class="paint-area paint-area--text edit-area edit-area--text ab-style-bold" style="word-break: break-all; border-style: none; font-size: 17px; line-height: 22.999px; color: rgb(95, 161, 224);">Pricing</div>
      <table class="ui compact celled single line table edit-area edit-area--table" style="border-style: solid;">
         <thead>
            <tr class="styleTr currentRow">
               <th>Plan</th>
               <th>Feature-X</th>
               <th>Price</th>
               <th>Premium Plan</th>
            </tr>
         </thead>
         <tbody>
            <tr class="">
               <td>A</td>
               <td>Yes</td>
               <td>32.00</td>
               <td>No</td>
            </tr>
            <tr class="">
               <td>B</td>
               <td>Yes</td>
               <td>64.00</td>
               <td>Yes</td>
            </tr>
            <tr class="">
               <td>C</td>
               <td>No</td>
               <td>96.00</td>
               <td>Yes</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>

